<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <h1>Realizar pergunta!</h1>
  <form>
    <label>titulo</label>
    <input type="text" placeholder="title">

    <label>descricao</label>
    <textarea placeholder="decreva sua pergunta..."></textarea>

    <button>send</button>
  </form>
</body>
</html>